PORT=3000
SUPABASE_URL=https://hzpzpdjmmuoesxhmdiqn.supabase.co
SUPABASE_KEY=sb_publishable_WN7sFDfFEKrDavvud6Om9A_K4SUTaPZ
DATABASE_URL=
JWT_SECRET=super-secret-9jobs-chat-key-2026
ADMIN_WEB_ORIGIN=http://localhost:5173
MOBILE_API_URL=http://10.0.2.2:3000
MOBILE_SOCKET_URL=http://10.0.2.2:3000
